body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#headerimage1 {
    display: flex;
}

.content {
    height: auto;
    width: 80vw;
    /*background: rgb(194, 180, 180);*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.box1 {
    height: 320px;
    width: 200px;
    /*border: 3px solid black;*/
    text-align: center;
    margin: 20px;
    margin-top: 10px;



}

.box1:hover {
    background: linear-gradient(#7084b3, #ab7276);
    cursor: pointer;
    opacity: 0.9;
    /*transition: all .3s ease-in-out;
    transform: translateY(0px);
    transform: scale(1.05);
    filter: saturate(2);*/
    color: white;




}


.btn {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    /*border-radius: 2px solid rgb(58, 15, 15);*/
}

.btn1 {
    background-color: rgb(207, 35, 118);
    color: white;

    border-radius: 5px;
}

.title {
    padding-top: 0px;
    font-size: 18px;
    font-weight: 900;
    /* font-style: italic;*/
    color: rgb(15, 2, 2);
    text-shadow: .5px .5px 0px #584343;

}

.button1 {

    background-color: #ab7276;
    border-radius: 2px;
    height: 30px;
    margin-top: 0px;
}